.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Amazon

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right
        if user
          li: a.fa.fa-space-shuttle(href='/profile') &nbsp; Profile
          li
            form.navbar-form(method='post', action='/logout')
              .form-group
                input(type='hidden', name='_method', value='delete')
                button.btn.btn-danger= user.email || user.username || user.displayName
        else
          li: a.fa.fa-user(href='/register') &nbsp; Register
          li: a.fa.fa-rocket(href='/login') &nbsp; Login
          li: a.fa.fa-twitter(href='/auth/twitter') &nbsp; Twitter
          li: a.fa.fa-github(href='/auth/github') &nbsp; GitHub
          li: a.fa.fa-google(href='/auth/google') &nbsp; Google
          li: a.fa.fa-facebook(href='/auth/facebook') &nbsp; Facebook

